NEXT_PUBLIC_SITE_URL=http://localhost:3000

NEXT_PUBLIC_WHATSAPP_NUMBER=34624541595
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/nthenewspark

ADMIN_PASSWORD=pon_una_contraseña_segura_aqui

SUPABASE_URL=https://tu-proyecto.supabase.co
SUPABASE_SERVICE_ROLE_KEY=tu_service_role_key_aqui

NEXT_PUBLIC_SUPABASE_URL=https://tu-proyecto.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=tu_anon_key_aqui